<div class="main-div pt-5">
  <div class="row mt-4">
    <div class="col-4"></div>
    <div class="col-4">
      <h3 class="mb-4">Profile</h3>
      <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required autofocus name="firstName">
      <input type="text" id="inputLastName" class="form-control" placeholder="Last name" required autofocus name="lastName">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus name="email">
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus name="username">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus name="password">
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row mt-4">
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <div class="pt-2"></div>
      <button class="btn btn-lg btn-primary btn-block pl-5 pr-5">Save</button></div>
    <div class="col-4"></div>
  </div>
</div>
