<div class="main-div pt-5">
  <div class="row mt-4">
    <div class="col-3">
      <!--#region Sidebar-->
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 240px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Profile</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link link-dark" (click)="changeOption(getProfileMenu().INFO)" [class.active]="menuOption === getProfileMenu().INFO">
              <svg class="bi me-2" width="16" height="16"></svg>
              Info
            </a>
          </li>
          <li *ngIf="hasUserRole()">
            <a class="nav-link link-dark" (click)="changeOption(getProfileMenu().FAVOURITE_FOOD)" [class.active]="menuOption === getProfileMenu().FAVOURITE_FOOD">
              <svg class="bi me-2" width="16" height="16"></svg>
              Favourite Food
            </a>
          </li>
        </ul>
        <div class="pt-5 pb-5"></div>
        <hr *ngIf="isLoggedIn()">
        <div class="dropdown" ngbDropdown *ngIf="isLoggedIn()">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
            <img [src]="getAvatarPath()" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{getUsername()}}</strong>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" ngbDropdownMenu>
            <li><a class="dropdown-item" href="#" ngbDropdownItem>Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logout()" ngbDropdownItem>Sign out</a></li>
          </ul>
        </div>
      </div>
      <!--endregion-->
    </div>
    <div class="col-1"></div>

    <div class="col-6">

      <!--#region loading-->
      <div *ngIf="pageLoaded === false">
        <app-waiting></app-waiting>
      </div>
      <!--#endregion loading-->

      <div *ngIf="pageLoaded === true">

        <!--#region Account Info-->
        <div *ngIf="menuOption === getProfileMenu().INFO">
          <div class="row">

            <div class="col-1"></div>

            <div class="col-8">

              <h3 class="mb-4">Account Info</h3>

              <div class="pt-4"></div>

              <label for="inputFirstName" class="pb-1">First Name</label>
              <input type="text" id="inputFirstName" [ngModel]="accountDetails?.firstName" (ngModelChange)="accountDetails.firstName = $event" class="form-control" placeholder="First name" required autofocus name="firstName">

              <label for="inputLastName" class="pt-3 pb-1">Last Name</label>
              <input type="text" id="inputLastName" [ngModel]="accountDetails?.lastNAme" (ngModelChange)="accountDetails.lastName = $event" class="form-control" placeholder="Last name" required autofocus name="lastName">

              <div *ngIf="hasRole('ROLE_USER') || hasRole('ROLE_DELIVERY_USER')" >
                <label for="phoneNumber" class="pt-3 pb-1">Phone Number</label>
                <input type="text" id="phoneNumber" [ngModel]="accountDetails?.phoneNumber" (ngModelChange)="accountDetails.phoneNumber = $event" class="form-control" placeholder="Phone Number" required autofocus name="phoneNumber">
              </div>

              <label for="inputEmail" class="pt-3 pb-1">Email</label>
              <input type="email" id="inputEmail" [ngModel]="accountDetails?.email" (ngModelChange)="accountDetails.email = $event" class="form-control" placeholder="Email" required autofocus name="email">

              <label for="inputUsername" class="pt-3 pb-1">Username</label>
              <input type="text" id="inputUsername" [ngModel]="accountDetails?.username" (ngModelChange)="accountDetails.username = $event" class="form-control" placeholder="Username" required autofocus name="username">

              <label for="inputPassword" class="pt-3 pb-1">Password</label>
              <input type="password" id="inputPassword" [ngModel]="accountDetails?.password" (ngModelChange)="accountDetails.password = $event" class="form-control" placeholder="Password" required autofocus name="password">

              <div *ngIf="hasRole('ROLE_DELIVERY_USER')">
                <label for="inputVehicleManufacturer" class="pt-3 pb-1">Vehicle Manufacturer</label>
                <input type="text" id="inputVehicleManufacturer" [(ngModel)]="accountDetails.vehicleManufacturer" class="form-control" placeholder="Vehicle Manufacturer" required autofocus>

                <label for="inputVehicleNumber" class="pt-3 pb-1">Vehicle Number</label>
                <input type="text" id="inputVehicleNumber" [(ngModel)]="accountDetails.vehicleNumber" class="form-control" placeholder="Vehicle Number" required autofocus>

                <label for="inputVehicleColor" class="pt-3 pb-1">Vehicle Color</label>
                <input type="text" id="inputVehicleColor" [(ngModel)]="accountDetails.vehicleColor" class="form-control" placeholder="Vehicle Color" required autofocus>
              </div>

              <div class="pt-3"></div>

              <div class="row mt-4">
                <div class="col-4"></div>
                <div class="col-4 text-center">
                  <div class="pt-2"></div>
                  <button class="btn btn-lg btn-primary btn-block pl-5 pr-5">Save</button>
                  <div class="pt-2"></div>
                  <button class="btn btn-lg btn-primary btn-block pl-5 pr-5" (click)="logout()">Logout</button>
                  <div class="pt-5"></div>
                  <div class="col-4"></div>
                </div>
              </div>
            </div>

            <div class="col-3"></div>
          </div>
        </div>
        <!--#endregion Account Info-->

        <!--#region Favourite Food-->
        <div *ngIf="menuOption === getProfileMenu().FAVOURITE_FOOD">
          <h3 class="mb-4">Favourite Food</h3>

          <div class="pt-3"></div>

          <table class="table table-striped mt-4">
            <thead>
            <tr>
              <th class="text-center" scope="col" colspan="4">Favourite Food List</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let food of favouriteFoodList; let rowNr = index">
              <th class="text-center" scope="row">{{rowNr + 1}}</th>
              <td>{{food.name}}</td>
              <td>{{food.foodCategory.name}}</td>
              <td>
                <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end"
                (click)="removeFoodFromFavourites(food)">Remove</button>
              </td>
            </tr>
            <tr *ngIf="favouriteFoodList.length === 0">
              <td class="text-center" colspan="4">Empty</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--#endregion Favourite Food-->

      </div>
    </div>

    <div class="col-2"></div>

  </div>
</div>
