<!--#region Staff-->
<h3 class="mb-4">Staff</h3>

<table class="table table-striped mt-4">
  <thead>
  <tr>
    <th class="text-center" scope="col" colspan="5">Staff List</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let staff of staffList; let rowNr = index">
    <th scope="row" class="text-center">{{rowNr + 1}}</th>
    <td>{{staff.username}}</td>
    <td>{{staff.firstName}} {{staff.lastName}}</td>
    <td style="white-space: nowrap; width: 1%;">
      <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" (click)="openModal(staffModal); updateStaffModel(staff); staffModalUpdate = true" style="margin-right: 1rem">Update</button>
    </td>
    <td style="white-space: nowrap; width: 1%;">
      <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" (click)="deleteStaff(staff)" style="margin-right: 1rem">Remove</button>
    </td>
  </tr>
  <tr>
    <td class="text-center" colspan="5">
      <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0"
              (click)="openModal(staffModal); resetStaffModel(); staffModalUpdate = false">+</button>
    </td>
  </tr>
  </tbody>
</table>
<!--#endregion Staff-->

<!--#region Staff modal-->
<ng-template #staffModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span *ngIf="staffModalUpdate === false">New staff</span>
      <span *ngIf="staffModalUpdate === true">Update staff</span>
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row m-2 pb-4" style="background-color: whitesmoke">
      <span style="font-size: 22px">Details</span>

      <div class="col-2"></div>
      <div class="col-8">
        <label for="staffFirstName" class="pt-2 pb-1">First Name</label>
        <input type="text" id="staffFirstName" [(ngModel)]="staffFirstName" class="form-control" placeholder="First Name" required>

        <label for="staffLastName" class="pt-2 pb-1">Last Name</label>
        <input type="text" id="staffLastName" [(ngModel)]="staffLastName" class="form-control" placeholder="Last Name" required>

        <label for="staffEmail" class="pt-2 pb-1">Email</label>
        <input type="text" id="staffEmail" [(ngModel)]="staffEmail" class="form-control" placeholder="Email" required>

        <label for="staffUsername" class="pt-2 pb-1">Username</label>
        <input type="text" id="staffUsername" [(ngModel)]="staffUsername" class="form-control" placeholder="Username" required>

        <label for="staffPassword" class="pt-2 pb-1">Password</label>
        <input type="text" id="staffPassword" [(ngModel)]="staffPassword" class="form-control" placeholder="Password" required>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" *ngIf="staffModalUpdate === true" (click)="updateStaff(); modal.close('Update click')">Update</button>
    <button type="button" class="btn btn-primary" *ngIf="staffModalUpdate === false" (click)="insertStaff(); modal.close('Add click')">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<!--#endregion Staff modal-->

<!--#region info modal-->
<ng-template #infoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{infoModalTitle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-center">
    <p class="mt-3" style="font-size: 20px">{{infoModalMessage}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<!--#endregion info modal-->