h1.title
{
  text-align: center;
  color: white;
  text-shadow: 0 0 18px black;
}

.footer
{
  background-color: darkred;
  padding-top: 2rem;
  position: relative;
  padding-bottom: 2rem;
  text-shadow: 0 0 1px white;
  user-select: none;
}
