<div class="row">
  <div class="col-xl-2">
    <!--#region Sidebar-->
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 240px;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Menu</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link link-dark" (click)="changeOption(getFoodMenu().PIZZA)" [class.active]="menuOption === getFoodMenu().PIZZA" aria-current="page">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Pizza
          </a>
        </li>
        <li>
          <a class="nav-link link-dark" (click)="changeOption(getFoodMenu().BURGER)" [class.active]="menuOption === getFoodMenu().BURGER">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Burger
          </a>
        </li>
        <li>
          <a class="nav-link link-dark" (click)="changeOption(getFoodMenu().GRILL)" [class.active]="menuOption === getFoodMenu().GRILL">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
            Grill
          </a>
        </li>
        <li>
          <a class="nav-link link-dark" (click)="changeOption(getFoodMenu().FAST_FOOD)" [class.active]="menuOption === getFoodMenu().FAST_FOOD">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Fast Food
          </a>
        </li>
        <li>
          <a class="nav-link link-dark" (click)="changeOption(getFoodMenu().DESSERT)" [class.active]="menuOption === getFoodMenu().DESSERT">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Dessert
          </a>
        </li>
        <li>
          <a class="nav-link link-dark" (click)="changeOption(getFoodMenu().DRINK)" [class.active]="menuOption === getFoodMenu().DRINK">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
            Drinks
          </a>
        </li>
      </ul>
      <div class="pt-5 pb-5"></div>
      <hr *ngIf="isLoggedIn()">
      <div class="dropdown" ngbDropdown *ngIf="isLoggedIn()">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
          <img [src]="getAvatarPath()" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>{{getUsername()}}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" ngbDropdownMenu>
          <li><a class="dropdown-item" routerLink="/profile" ngbDropdownItem>Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#" (click)="logout()" ngbDropdownItem>Sign out</a></li>
        </ul>
      </div>
    </div>
    <!--endregion-->
  </div>
  <div class="col-xl-10">
    <!--#region Menu-->
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-3" *ngFor="let food of foodList">
          <div class="card">
            <img class="card-img-top" src="../../../assets/user_icon.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{food.name}}</h5>
              <p class="card-text">{{food.description}}</p>
              <div class="pt-4 pb-3">
                <h5>Price: {{food.price}} lei</h5>
              </div>
              <div class="row">
                <div class="col-2 text-center col-centering">
                  <button type="button" class="btn btn-primary rounded-button btn-color" (click)="decreaseQuantity(food)">-</button>
                </div>
                <div class="col-2 text-center col-centering">
                  <p class="pt-1">{{food.quantity}}</p>
                </div>
                <div class="col-2 text-center col-centering">
                  <button type="button" class="btn btn-primary rounded-button btn-color" (click)="increaseQuantity(food)">+</button>
                </div>
                <div class="col-6 text-center col-centering" style="padding-right: 0.5rem">
                  <button type="button" class="btn btn-primary add-to-cart-btn float-end btn-color" (click)="openAddedToCartModal(addedToCartModal, food, food.quantity); addButton(food);">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#endregion-->
    <!--#region Pagination-->
    <nav aria-label="page-navigation">
        <ul class="pagination justify-content-end p-5">

          <li class="page-item" [ngClass]="{'disabled': currentFoodPage === 0}">
            <a class="page-link" (click)="decreasePage()">Previous</a>
          </li>

          <li *ngFor="let page of foodPages" class="page-item" [ngClass]="{'active': page === currentFoodPage}">
            <a class="page-link" (click)="setPage(page)">{{page+1}}</a>
          </li>

          <li class="page-item" [ngClass]="{'disabled': currentFoodPage === nrOfFoodPages - 1}">
            <a class="page-link" (click)="increasePage()">Next</a>
          </li>
        </ul>
      </nav>
    <!--#endregion-->
  </div>
</div>

<!--#region Added to cart modal-->
<ng-template #addedToCartModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-email">New cart items</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 text-center">
        <h5>Added to cart:</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <span style="font-size: 22px">{{lastAddedFood.name}}</span><span style="font-size: 18px; padding-left: 0.8rem">x {{lastAddedToCartQuantity}}</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<!--#endregion Added to cart modal-->
