<div class="main-div pt-5">
  <div class="row mt-4">
    <div class="col-3">
      <!--#region Sidebar-->
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 240px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"></svg>
          <span class="fs-4">Manage</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a class="nav-link link-dark" (click)="changeOption(getManagerMenu().RESTAURANTS)" [class.active]="menuOption === getManagerMenu().RESTAURANTS">
              <svg class="bi me-2" width="16" height="16"></svg>
              Restaurants
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" (click)="changeOption(getManagerMenu().FOOD)" [class.active]="menuOption === getManagerMenu().FOOD">
              <svg class="bi me-2" width="16" height="16"></svg>
              Food
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" (click)="changeOption(getManagerMenu().STAFF)" [class.active]="menuOption === getManagerMenu().STAFF">
              <svg class="bi me-2" width="16" height="16"></svg>
              Staff
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" (click)="changeOption(getManagerMenu().DELIVERY_USERS)" [class.active]="menuOption === getManagerMenu().DELIVERY_USERS">
              <svg class="bi me-2" width="16" height="16"></svg>
              Delivery Users
            </a>
          </li>
        </ul>
        <div class="pt-5 pb-5"></div>
        <app-account-dropdown></app-account-dropdown>
      </div>
      <!--endregion-->
    </div>
    <div class="col-8 table-responsive">

      <!--#region Restaurants-->
      <div *ngIf="menuOption === getManagerMenu().RESTAURANTS">
        <app-restaurant-section (eventEmitter)="receiveEvent($event)"></app-restaurant-section>
      </div>
      <!--#endregion Restaurants-->

      <!--#region ManageFood-->
      <div *ngIf="menuOption === getManagerMenu().FOOD">
        <h3>Manage Food</h3>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <h6>Category:</h6>

            <select class="form-select" [(ngModel)]="selectedFoodCategoryOption" (change)="updateFoodPage()" aria-label="Select Food Category">
              <option value="">Any</option>
              <option *ngFor="let enum of getFoodMenu().keys()">{{enum}}</option>
            </select>
          </div>
          <div class="col-4">
            <h6>Restaurant:</h6>

            <select class="form-select" [(ngModel)]="selectedRestaurantOption" (change)="updateFoodPage()" aria-label="Select Restaurant">
              <option value="">Any</option>
              <option *ngFor="let restaurant of restaurantList">{{restaurant.name}}</option>
            </select>
          </div>
        </div>

        <table class="table table-striped align-middle mt-4">
          <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center" scope="col" colspan="4">Food List</th>
            <td>
              <button class="btn-add-food btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end"
                      (click)="resetModalFields(); resetModalImage(); openModal(foodModal); resetModalRestaurantList(); foodModalUpdate = false" style="margin-right: 1rem">+</button>
            </td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let food of foodList">
            <th scope="row" class="text-center" style="width: 8%">{{food.id}}</th>
            <td style="width: 25%">{{food.name}}</td>
            <td><table><tr *ngFor="let restaurant of food.restaurantList"><td class="pb-2">{{restaurant.name}}</td></tr></table></td>
            <td>{{food.foodCategory.name}}</td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end"
                      (click)="resetModalImage(); updateModalSelectedFood(food); updateModalRestaurantLists(food); openModal(foodModal); foodModalUpdate = true"
                      style="margin-right: 1rem">Update</button>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end"
                      (click)="deleteFood(food)" style="margin-right: 1rem">Remove</button>
            </td>
          </tr>
          <tr *ngIf="foodList.length === 0">
            <td class="text-center" colspan="6">Empty</td>
          </tr>
          </tbody>
        </table>

        <!--#region Pagination-->
        <nav aria-label="page-navigation">
          <ul class="pagination justify-content-end p-5">

            <li class="page-item" [ngClass]="{'disabled': currentFoodPage === 0}">
              <a class="page-link" (click)="decreasePage()">Previous</a>
            </li>

            <li *ngFor="let page of foodPages" class="page-item" [ngClass]="{'active': page === currentFoodPage}">
              <a class="page-link" (click)="setPage(page)">{{page+1}}</a>
            </li>

            <li class="page-item" [ngClass]="{'disabled': currentFoodPage === nrOfFoodPages - 1}">
              <a class="page-link" (click)="increasePage()">Next</a>
            </li>
          </ul>
        </nav>
        <!--#endregion-->
      </div>
      <!--#endregion Manage Food-->

      <!--#region Staff-->
      <div *ngIf="menuOption === getManagerMenu().STAFF">
        <app-staff-section (eventEmitter)="receiveEvent($event)"></app-staff-section>
      </div>
      <!--#endregion Staff-->

      <!--#region Delivery User-->
      <div *ngIf="menuOption === getManagerMenu().DELIVERY_USERS">
        <app-delivery-user-section (eventEmitter)="receiveEvent($event)"></app-delivery-user-section>
      </div>
      <!--#endregion Delivery User-->

    </div>
    <div class="col-1"></div>
  </div>
  <div class="pt-5"></div>
</div>
<!--#region Food modal-->
<ng-template #foodModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <span>Manage Food</span>
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row m-2 pb-4" style="background-color: whitesmoke">
      <span *ngIf="foodModalUpdate === true" style="font-size: 22px">Update Food</span>
      <span *ngIf="foodModalUpdate === false" style="font-size: 22px">Add Food</span>

      <div class="col-2"></div>
      <div class="col-8 pt-4">
        <label for="inputName" class="pt-2 pb-1">Name</label>
        <input type="text" id="inputName" [(ngModel)]="foodName" class="form-control" placeholder="Name">

        <label for="inputDescription" class="pt-2 pb-1">Description</label>
        <input type="text" id="inputDescription" [(ngModel)]="foodDescription" class="form-control" placeholder="Description">

        <label for="inputPrice" class="pt-2 pb-1">Price</label>
        <input type="text" id="inputPrice" [(ngModel)]="foodPrice" class="form-control" placeholder="Price"
               oninput="this.value=this.value.replace(/[^\d]/,'')">

        <label for="inputWeight" class="pt-2 pb-1">Weight</label>
        <input type="text" id="inputWeight" [(ngModel)]="foodWeight" class="form-control" placeholder="Weight"
               oninput="this.value=this.value.replace(/[^\d]/,'')">

        <!--#region Upload Image-->
        <label for="imageUpload" class="pt-4 pb-2">Food Image</label>
        <div id="imageUpload" class="form-group">
          <input class="form-control" type="file" id="formFile" (change)="onImageUpload($event)">
        </div>

        <div class="row">
          <div class="col-12">
            <input type="button" value="Upload" (click)="imageUploadAction()" class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 mt-3 mb-2 float-end">
          </div>
        </div>

        <!-- #region CURRENT FOOD IMAGE -->
        <div class="m2-2 pt-4 row" *ngIf="foodImage != null && uploadedImageResponseObject == null">
          <div class="col-3"></div>
          <div class="col-6">
            <img [src]="getImageUrl(getResourceImageOfFoodImage(foodImage))" class="img-fluid">
          </div>
          <div class="col-3"></div>
        </div>
        <!-- #endregion CURRENT FOOD IMAGE -->

        <!-- #region IF STATUS OK -->
        <div *ngIf="uploadStatus === 'OK'" >
          <div class="alert alert-success mt-2 row">
            <div class="col-12">
              Upload successful!
            </div>
          </div>

          <div class="pt-4 row" *ngIf="uploadedImageResponseObject != null">
            <div class="col-3"></div>
            <div class="col-6">
              <img [src]="getImageUrl(uploadedImageResponseObject.resourceName)"class="img-fluid">
            </div>
            <div class="col-3"></div>
          </div>

          <div class="alert alert-info mt-5 row">
            <div class="col-12">
              <table>
                <tbody>
                  <tr>
                    <td style="white-space: nowrap; width: 20%;">
                      Recognized food:
                    </td>
                    <td>
                      <span style="padding-left: 1rem">
                        <b>{{foodPrediction}}</b>
                      </span>
                      <span *ngIf="foodPrediction.length === 0">
                        <img src="../../../assets/loading_spin.gif" height="30" width="30" alt="">
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
        <!-- #endregion IF STATUS OK -->

        <div *ngIf="uploadStatus === 'ERROR'" class="alert alert-danger mt-2">
          The file is too big!
        </div>

        <!--#endregion Upload Image-->

        <div *ngIf="foodImage != null && uploadedImageResponseObject == null" class="pt-5"></div>
        <label for="selectFoodCategory" class="pt-2 pb-1">Food Category</label>
        <select class="form-select" id="selectFoodCategory" (change)="updateModalFoodCategoryOption($event.target)" aria-label="Select Food Category">
          <option *ngFor="let enum of getFoodMenu().keys()" [selected]="modalSelectedFoodCategoryOption === enum">{{enum}}</option>
        </select>

        <table class="table table-striped align-middle mt-4">
          <thead>
            <tr>
              <th class="text-center">Id</th>
              <th>Restaurants preparing this food</th>
              <td></td>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let restaurant of modalRestaurantList">
            <th scope="row" class="text-center" style="width: 8%">{{restaurant.id}}</th>
            <td style="width: 25%">{{restaurant.name}}</td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end"
                      (click)="removeRestaurantFromModal(restaurant)" style="margin-right: 1rem">Remove</button>
            </td>
          </tr>

          <tr *ngIf="modalRestaurantList.length === 0">
            <td class="text-center" colspan="3">Empty</td>
          </tr>
          </tbody>
        </table>

        <table class="table table-striped align-middle mt-4">
          <tbody>
          <!-- Available restaurants -->
          <tr>
            <td></td>
            <th>All available restaurants</th>
            <td></td>
          </tr>
          <tr *ngFor="let restaurant of modalAvailableRestaurantList">
            <th scope="row" class="text-center" style="width: 8%">{{restaurant.id}}</th>
            <td style="width: 25%">{{restaurant.name}}</td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end"
                      (click)="addRestaurantToModal(restaurant)" style="margin-right: 1rem">Add</button>
            </td>
          </tr>
          <tr *ngIf="modalAvailableRestaurantList.length === 0">
            <td class="text-center" colspan="3">Empty</td>
          </tr>
          </tbody>
        </table>

        <div class="pt-4"></div>

     </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" *ngIf="foodModalUpdate === true" class="btn btn-primary" [disabled]="modalRestaurantList.length === 0" (click)="updateFood();modal.close('Update click')">Update</button>
    <button type="button" *ngIf="foodModalUpdate === false" class="btn btn-primary" [disabled]="modalRestaurantList.length === 0" (click)="insertFood();modal.close('Add click')">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<!--#endregion Food modal-->

<!--#region info modal-->
<ng-template #infoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{infoModalTitle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-center">
    <p class="mt-3" style="font-size: 20px">{{infoModalMessage}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<!--#endregion info modal-->