<div class="main-div pt-5">
  <div class="row mt-4">
    <div class="col-3">
      <!--#region Sidebar-->
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 240px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Delivery</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item pill-custom pill-custom">
            <a class="nav-link link-dark" (click)="changeOption(getDeliveryMenu().NEW_ORDERS)" [class.active]="menuOption === getDeliveryMenu().NEW_ORDERS">
              <svg class="bi me-2" width="16" height="16"></svg>
              Available Orders
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" (click)="changeOption(getDeliveryMenu().ACTIVE_ORDER)" [class.active]="menuOption === getDeliveryMenu().ACTIVE_ORDER">
              <svg class="bi me-2" width="16" height="16"></svg>
              Active Order
            </a>
          </li>
        </ul>
        <div class="pt-5 pb-5"></div>
        <hr *ngIf="isLoggedIn()">
        <div class="dropdown" ngbDropdown *ngIf="isLoggedIn()">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
            <img [src]="getAvatarPath()" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{getUsername()}}</strong>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" ngbDropdownMenu>
            <li><a class="dropdown-item" href="#" ngbDropdownItem>Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logout()" ngbDropdownItem>Sign out</a></li>
          </ul>
        </div>
      </div>
      <!--endregion-->
    </div>
    <div class="col-8 table-responsive">
      <div *ngIf="menuOption === getDeliveryMenu().NEW_ORDERS">
        <!--#region New Orders List-->
        <h3 class="mb-4">New Orders</h3>

        <table class="table table-striped mt-4">
          <thead>
          <tr>
            <th class="text-center" scope="col" colspan="5">New Orders List</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of availableOrderList">
            <th scope="row" class="text-center">1</th>
            <td>{{order.orderDateTime}}</td>
            <td></td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Details</button>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Take Order</button>
            </td>
          </tr>
          <tr *ngIf="availableOrderList.length === 0">
            <td class="text-center">Empty</td>
          </tr>
          </tbody>
        </table>
        <!--#endregion New Orders List-->
      </div>
      <div *ngIf="menuOption === getDeliveryMenu().ACTIVE_ORDER">
        <!--#region Active Order-->
        <h3 class="mb-4">Active Order</h3>

        <table class="table table-striped mt-4">
          <thead>
          <tr>
            <th class="text-center" scope="col" colspan="5">Active Order</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-center">Delivery Status: <b>-status-</b></td>
            <td style="white-space: nowrap; width: 1%">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Next Status</button>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem"
              >Delivered!</button>
            </td>
          </tr>
          </tbody>
        </table>
        <!--#endregion Active Order-->
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="pt-5"></div>
</div>
