<div class="main-div pt-5">
  <div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-6 table-responsive">

      <!--#region New Orders List-->
      <h3 class="mb-4">New Orders</h3>

      <table class="table table-striped mt-4">
        <thead>
        <tr class="table-danger">
          <th class="text-center" scope="col" colspan="5">New Orders List</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Abc</td>
          <td style="white-space: nowrap; width: 1%;">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Take Order</button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--#endregion New Orders List-->

      <!--#region Active Order-->
      <h3 class="mb-4">Active Order</h3>

      <table class="table table-striped mt-4">
        <thead>
        <tr class="table-danger">
          <th class="text-center" scope="col" colspan="5">Active Order</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Abc</td>
          <td style="white-space: nowrap; width: 1%;">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Take Order</button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--#endregion Active Order-->

    </div>
    <div class="col-3"></div>
  </div>
  <div class="pt-5"></div>
</div>
