<div class="main-div pt-5">
  <div class="row mt-4">
    <div class="col-3">
      <!--#region Sidebar-->
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 240px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Admin</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link link-dark" (click)="changeOption(getAdminMenu().RESTAURANTS)" [class.active]="menuOption === getAdminMenu().RESTAURANTS">
              <svg class="bi me-2" width="16" height="16"></svg>
              Restaurants
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" (click)="changeOption(getAdminMenu().MANAGERS)" [class.active]="menuOption === getAdminMenu().MANAGERS">
              <svg class="bi me-2" width="16" height="16"></svg>
              Managers
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" (click)="changeOption(getAdminMenu().STAFF)" [class.active]="menuOption === getAdminMenu().STAFF">
              <svg class="bi me-2" width="16" height="16"></svg>
              Staff
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" (click)="changeOption(getAdminMenu().DELIVERY_USERS)" [class.active]="menuOption === getAdminMenu().DELIVERY_USERS">
              <svg class="bi me-2" width="16" height="16"></svg>
              Delivery Users
            </a>
          </li>
          <li>
            <a class="nav-link link-dark" (click)="changeOption(getAdminMenu().USERS)" [class.active]="menuOption === getAdminMenu().USERS">
              <svg class="bi me-2" width="16" height="16"></svg>
              Users
            </a>
          </li>
        </ul>
        <div class="pt-5 pb-5"></div>
        <hr *ngIf="isLoggedIn()">
        <div class="dropdown" ngbDropdown *ngIf="isLoggedIn()">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
            <img [src]="getAvatarPath()" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{getUsername()}}</strong>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" ngbDropdownMenu>
            <li><a class="dropdown-item" href="#" ngbDropdownItem>Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logout()" ngbDropdownItem>Sign out</a></li>
          </ul>
        </div>
      </div>
      <!--endregion-->
    </div>
    <div class="col-8 table-responsive">

    <!--#region Active Restaurants-->
      <div *ngIf="menuOption === getAdminMenu().RESTAURANTS">
        <h3 class="mb-4">Restaurants</h3>

        <table class="table table-striped mt-4">
          <thead>
          <tr class="table-danger">
            <th class="text-center" scope="col" colspan="5">Active Restaurants</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let restaurant of restaurantList; let rowNr = index">
            <th scope="row" class="text-center">{{rowNr + 1}}</th>
            <td>{{restaurant.name}}</td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" (click)="openModal(addRestaurantModal); updateRestaurantModel(restaurant); restaurantModalUpdate = true" style="margin-right: 1rem">Update</button>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" (click)="deleteRestaurant(restaurant)" style="margin-right: 1rem">Remove</button>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0" (click)="openModal(addRestaurantModal); resetRestaurantModel(); restaurantModalUpdate = false">+</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    <!--#endregion Restaurants-->

    <!--#region Managers-->
      <div *ngIf="menuOption === getAdminMenu().MANAGERS">
        <h3 class="mb-4">Managers</h3>

        <table class="table table-striped mt-4">
          <thead>
          <tr class="table-danger">
            <th class="text-center" scope="col" colspan="5">Manager List</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Update</button>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Remove</button>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="5">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0">+</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--#endregion Restaurants-->

    <!--#region Staff-->
      <div *ngIf="menuOption === getAdminMenu().STAFF">
        <h3 class="mb-4">Staff</h3>

        <table class="table table-striped mt-4">
          <thead>
          <tr class="table-danger">
            <th class="text-center" scope="col" colspan="5">Staff List</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Update</button>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Remove</button>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="5">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0">+</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--#endregion Restaurants-->

    <!--#region Delivery User-->
      <div *ngIf="menuOption === getAdminMenu().DELIVERY_USERS">
        <h3 class="mb-4">Delivery User</h3>

        <table class="table table-striped mt-4">
          <thead>
          <tr class="table-danger">
            <th class="text-center" scope="col" colspan="5">Delivery User List</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Update</button>
            </td>
            <td style="white-space: nowrap; width: 1%;">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Remove</button>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="5">
              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0">+</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--#endregion Restaurants-->

    <!--#region Users-->
      <div *ngIf="menuOption === getAdminMenu().USERS">
        <h3 class="mb-4">Users</h3>
      </div>
    <!--#endregion-->

    </div>
    <div class="col-1"></div>
  </div>
  <div class="pt-5"></div>
</div>

<!--#region Add new restaurant modal-->
<ng-template #addRestaurantModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-email">
      <span *ngIf="restaurantModalUpdate === false">New restaurant</span>
      <span *ngIf="restaurantModalUpdate === true">Update restaurant</span>
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row m-2 pb-4" style="background-color: whitesmoke">
      <span style="font-size: 22px">Info</span>

      <div class="col-2"></div>
      <div class="col-8">
        <label for="name" class="pt-2 pb-1">Name</label>
        <input type="text" id="name" [(ngModel)]="restaurantName" class="form-control" placeholder="Name" required>

        <label for="description" class="pt-2 pb-1">Description</label>
        <input type="text" id="description" [(ngModel)]="restaurantDescription" class="form-control" placeholder="Description" required>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="pt-2"></div>

    <div class="row m-2 pb-4" style="background-color: whitesmoke">
      <span style="font-size: 22px">Address</span>

      <div class="col-2"></div>
      <div class="col-8">
        <label for="streetAddress" class="pt-2 pb-1">Street Address</label>
        <input type="text" id="streetAddress" [(ngModel)]="streetAddress" class="form-control" placeholder="Street Address" required>

        <label for="city" class="pt-2 pb-1">City</label>
        <input type="text" id="city" [(ngModel)]="city" class="form-control" placeholder="City" required>

        <label for="zipCode" class="pt-2 pb-1">ZIP Code</label>
        <input type="text"
               oninput="this.value=this.value.replace(/[^\d]/,'')"
               id="zipCode" [(ngModel)]="zipCode" class="form-control" placeholder="ZIP Code" required>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" *ngIf="restaurantModalUpdate === true" (click)="updateRestaurant(); modal.close('Update click')">Update</button>
    <button type="button" class="btn btn-primary" *ngIf="restaurantModalUpdate === false" (click)="insertRestaurant(); modal.close('Add click')">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<!--#endregion Add new restaurant modal-->
