<div class="main-div pt-5">
  <div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-6 table-responsive">

<!--      &lt;!&ndash;#region Add Restaurants&ndash;&gt;-->
<!--      <table>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required autofocus name="firstName">-->
<!--            </td>-->
<!--            <td class="text-center">-->
<!--              <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 text-center">Add</button>-->
<!--            </td>-->
<!--          </tr>-->
<!--        <tr>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    &lt;!&ndash;#endregion&ndash;&gt;-->

    <!--#region Active Restaurants-->
    <h3 class="mb-4">Restaurants</h3>

    <table class="table table-striped mt-4">
      <thead>
      <tr class="table-danger">
        <th class="text-center" scope="col" colspan="5">Active Restaurants</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td style="white-space: nowrap; width: 1%;">
          <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Update</button>
        </td>
        <td style="white-space: nowrap; width: 1%;">
          <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Remove</button>
        </td>
      </tr>
      <tr>
        <td class="text-center" colspan="5">
          <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0">+</button>
        </td>
      </tr>
      </tbody>
    </table>
    <!--#endregion Restaurants-->

    <!--#region Managers-->
      <h3 class="mb-4 mt-5">Managers</h3>

      <table class="table table-striped mt-4">
        <thead>
        <tr class="table-danger">
          <th class="text-center" scope="col" colspan="5">Manager List</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td style="white-space: nowrap; width: 1%;">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Update</button>
          </td>
          <td style="white-space: nowrap; width: 1%;">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Remove</button>
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="5">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0">+</button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--#endregion Restaurants-->

    <!--#region Staff-->
      <h3 class="mb-4 mt-5">Staff</h3>

      <table class="table table-striped mt-4">
        <thead>
        <tr class="table-danger">
          <th class="text-center" scope="col" colspan="5">Staff List</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td style="white-space: nowrap; width: 1%;">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Update</button>
          </td>
          <td style="white-space: nowrap; width: 1%;">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Remove</button>
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="5">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0">+</button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--#endregion Restaurants-->

    <!--#region Delivery User-->
      <h3 class="mb-4 mt-5">Delivery User</h3>

      <table class="table table-striped mt-4">
        <thead>
        <tr class="table-danger">
          <th class="text-center" scope="col" colspan="5">Delivery User List</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td style="white-space: nowrap; width: 1%;">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Update</button>
          </td>
          <td style="white-space: nowrap; width: 1%;">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0 float-end" style="margin-right: 1rem">Remove</button>
          </td>
        </tr>
        <tr>
          <td class="text-center" colspan="5">
            <button class="btn-in-table btn-lg btn-primary btn-block pl-5 pr-5 pt-0 pb-0">+</button>
          </td>
        </tr>
        </tbody>
      </table>
      <!--#endregion Restaurants-->

    </div>
    <div class="col-3"></div>
  </div>
  <div class="pt-5"></div>
</div>
